h1{
    text-align: center;

font-family: 'Carter One', cursive;

color:yellow;

font-size: 70px;

text-shadow: 5px 2px 4px black;
}
Body{
    background-color: red;
}
P{
    
}
table{
    border: 4px yellow;

}
h2{
    font-family: 'Carter One', cursive;
    text-align: center;
    color: yellow;
 font-size: 36px;

}
td{
font-size: 17px;
color: yellow;
font-family: 'Baloo Bhai', cursive; 
text-align: center;
}

